<!DOCTYPE HTML>
<html>
<head>
    <!------------------------------------------------------------------------------------------------->
    <!-- 페이지의 로딩속도를 높히기 위해서 css는 헤더에 놓았다.                                      -->
    <!-- header가 전부 불러지지 않으면 body부분은 실행되지 않음으로 사용자는 백지화면만 보아야 한다. -->
    <!-- css는 화면을 그리는 역할이므로 사용자가 깨진 css를 볼 가능성도 있기에 header에서 처리한다.  -->
    <!-- 그러한 이유로 js부분은 footer에 넣는게 좋다.                                                -->
    <!------------------------------------------------------------------------------------------------->
    <title>스프링부트 웹서비스</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>