{{>layout/header}}
    <h1>스프링부트로 시작하는 웹 서비스 Ver.2</h1>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6">
                <a href="/posts/save" role="button" class="btn btn-primary">글 등록</a>
                <!--
                머스태치에서는 다른언어와같은 if문을 지원하지 않는다.
                true/false 여부만 판단한다. 그래서 머스태치에서는 항상 최종값만을 넘겨주어야 한다.
                여기에서도 역시 userName이 있다면 userName을 노출시키도록 하였다.
                -->
                {{#userName}}
                    Logged in as: <span id="user">{{userName}}</span>
                    <!--
                    href="/logout" : 스프링 시큐리티에서 기본적으로 제공하는 로그아웃 기능
                    즉, 개발자가 컨트롤러에 저 URL에 해당하는 컨트롤러를 굳이 만들 필요가 없다.
                    필요하다면 SecurityConfig 클래스에서 URL을 변경할 수 있다.
                     -->
                    <a href="/logout" class="btn btn-info active" role="button">Logout</a>
                {{/userName}}
                <!--
                머스태치에서 값이 존재하지 않는경우에는 ^를 사용한다
                여기서는 userName값이 없다면 로그인 버튼을 노출시키도록 해놓았다.
                -->
                {{^userName}}
                    <!--
                    href="/oauth2/authorization/google : 스프링 시큐리티에서 기본적으로 제공하는 로그인 URL
                    이 또한 역시 컨트롤러를 굳이 만들 필요가 없다.
                    -->
                    <a href="/oauth2/authorization/google" class="btn btn-success active" role="button">Google Login</a>
                    <!--
                    네이버 로그인 URL은 application-oauth.propertise에 등록한 redirect-url 값에 맞춰서 자동으로 등록된다.
                    /oauth2/authorization까지는 고정이고 마지막 Path만 각 소셜로그인 코드를 사용하면 된다.
                    여기서는 Naver가 Path가 된다.
                    -->
                    <a href="/oauth2/authorization/naver" class="btn btn-secondary active" role="button">Naver Login</a>
                {{/userName}}
            </div>
        </div>
        <br>
<!-- 목록 출력 영역 -->
<table class="table table-horizontal table-bordered">
    <thead class="thead-strong">
    <tr>
        <th>게시글번호</th>
        <th>제목</th>
        <th>작성자</th>
        <th>최종수정일</th>
    </tr>
    </thead>
    <tbody id="tbody">
    {{#posts}}
        <tr>
            <td>{{id}}</td>
            <td><a href="/posts/update/{{id}}">{{title}}</a></td>
            <td>{{author}}</td>
            <td>{{modifiedDate}}</td>
        </tr>
    {{/posts}}
    </tbody>
</table>
</div>
{{>layout/footer}}